<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/base.css" />
    {% block head %}{% endblock %}
  </head>
  <body>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% if 'email' in session %}
    <nav>
      <a class="white-button" href="{{ url_for('homepage') }}">Home Page</a>
      {% if user %}
      <a class="white-button" href="{{ url_for('user', user_id=user.user_id) }}"
        >User Details</a
      >
      {% endif %}
      <a class="white-button" href="{{ url_for('logout') }}">Log Out</a>
    </nav>
    {% endif %} {% block body %}{% endblock %}
  </body>
</html>
