{% extends 'base.html' %} {% block title %} Capstone {% endblock %} {% block
body %}
<main>
  <h1 class="welcome">Current Story: "{{story.story_name}}"</h1>
  <div class="add-container">
    <form class="add-form" action="/add_scene" method="POST">
      <input type="hidden" name="story_id" value="{{story.story_id}}" />
      <input
        class="create-input"
        type="text"
        name="scene_name"
        placeholder="scene name"
      />
      <button class="green-button">Create Scene</button>
    </form>
  </div>
  <h1 class="your-table">Your Scenes:</h1>
  <div class="tables-container">
    {% for scene in story.scenes %}
    <div class="table-container">
      <h1>{{scene.scene_description}}</h1>
      <a
        class="white-button"
        href="{{ url_for('open_scene', scene_id=scene.scene_id) }}"
        >Open Scene</a
      >
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
