{% extends 'base.html' %} {% block title %} Capstone {% endblock %} {% block
body %}
<div id="image-gen-container">
  <form
    id="image-gen-form"
    action="{{ url_for('create_image') }}"
    method="POST"
  >
    <h1>Generate an image!</h1>
    <input
      type="hidden"
      name="storyboard_id"
      value="{{storyboard.storyboard_id}}"
    />
    <input type="text" placeholder="prompt" name="prompt" />
    <input type="text" placeholder="description" name="description" />
    <button>Generate!</button>
  </form>
</div>
<div id="storyboard-container">
  {% for image in storyboard.images %}
  <div id="image-container">
    <a href="{{ url_for('open_image', image_id=image.image_id) }}">
      <img
        id="storyboard-img"
        src="{{image.url}}"
        alt="{{image.description}}"
      />
    </a>
    <p id="image-description">{{image.description}}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
